<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smartodo</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/todo_task.css" type="text/css" />
  <link rel="stylesheet" href="/styles/buttons.css" type="text/css" />
  <link rel="stylesheet" href="/styles/clock.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
  <link rel="stylesheet" href="/styles/landingpage.css" type="text/css" />
  <link rel="stylesheet" href="/styles/forms.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/input_text.css" type="text/css" />
  <link rel="stylesheet" href="/styles/category.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>


<!-- NAV BAR -->
<header>
  <div class="nav-container">
    <div class="logo">
      <a href="/">
        <img src="https://www.graphicsprings.com/filestorage/stencils/ed8fe22e267f227c5be2d9c9a6b40917.png?width=500&height=500" alt="smartodo logo" width="130"/>
      </a>
      </div>
    <nav>
      <% if (user_id) { %>
      <ul>
        <!-- <li>${user_email}</li> -->
        <form id="logout" action="/users/logout" method="GET">
          <button class="btn_style">Logout</button>
        </form>
      </ul>
      <% } else { %>
        <ul class="nav-options">
          <form id="register" action="/users/register" method="GET">
            <button class="btn_style bouncy" style="animation-delay:0.07s">Register</button>
          </form>
          <form id="login" action="/users/login" method="GET">
            <button class="btn_style bouncy" style="animation-delay:0.14s">Login</button>
          </form>
        </ul>
        <% } %>
      </nav>
  </div>
</header>

