
<%- include('partials/_header') %>

<body>

<!-- MAIN INDEX PAGE -->
<div class="index-container">
  <h3 class="index-slogan1">Start something</h3>
  <h3 class="index-slogan2">that matters</h3>
  <h4 class="index-slogan3">Stop wasting valuable time with that just isn't you.</h4>
  <h2 class="index-slogan3">Use Smartodo</h2>
</div>

</body>

</html>
