<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smartodo</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<!-- NAV BAR -->
<header>
  <div class="nav-container">
    <div class="logo">
      <img src="https://www.graphicsprings.com/filestorage/stencils/ed8fe22e267f227c5be2d9c9a6b40917.png?width=500&height=500" alt="" width="130"/>
      </div>
    <nav>
      <ul>
        <li>Yuki</li>
        <button>Logout</button>
      </ul>
    </nav>
  </div>
</header>

<body>
<main>

  <!-- INPUT TEXT -->
  <section class="input-container">
    <form id="add-task" action="/smartlist" method="POST">
      <label for="task">TASK TO ADD</label>
      <textarea name="task" id="task-text" placeholder="Start typing here..."></textarea>
      <button type="submit">ADD</button>
    </form>
  </section>

  <!-- CATEGORIES -->
  <section class="category-container">
    <div class="category-wrapper1">
      <div class="category1">
        <h2>THINGS TO WATCH</h2>
        <div class="todolist"></div>
      </div>
    </div>
    <div class="category-wrapper2">
    <div class="category2">
      <h2>PLACES TO EAT</h2>
      <div class="todolist"></div>
    </div>
    </div>
    <div class="category-wrapper3">
    <div class="category3">
      <h2>BOOKS TO READ</h2>
      <div class="todolist"></div>
    </div>
    </div>
    <div class="category-wrapper4">
    <div class="category4">
      <h2>THINGS TO BUY</h2>
      <div class="todolist"></div>
    </div>
    </div>
    <div class="category-wrapper5">
    <div class="category5">
      <h2>MISCELLANEOUS</h2>
      <div class="todolist"></div>
    </div>
    </div>
  </section>

  <!-- TASK -->
  <!-- <section class="todo-container">
    <div class="todoitems">
      <p class="task-name">TASK NAME</p>
      <div class="todo-options">
      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        <a href="#">THINGS TO WATCH</a>
        <a href="#">PLACES TO EAT</a>
        <a href="#">BOOKS TO READ</a>
        <a href="#">THINGS TO BUY</a>
        <a href="#">MISCELLANEOUS</a>
        </div>
      </div>
        <form id="delete-task" action="/smartlist/:id/delete" method="POST">
        <button type="submit">DELETE</button>
      </div>
    </div>
  </section> -->

</main>
</body>

</html>
