<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smartodo</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<!-- NAV BAR -->
<header>
  <div class="nav-container">
    <div class="logo">
      <img src="https://www.graphicsprings.com/filestorage/stencils/ed8fe22e267f227c5be2d9c9a6b40917.png?width=500&height=500" alt="smartodo logo" width="130"/>
      </div>
    <nav>
      <% if (user_id) { %>
      <ul class="nav-options">
        <li>${user_name}</li>
        <form id="logout" action="/users/logout" method="POST">
          <button >Logout</button>
        </form>
      </ul>
      <% } else { %>
        <ul class="nav-options">
          <form id="register" action="/users/register" method="GET">
            <button>Register</button>
          </form>
          <form id="login" action="/users/login" method="GET">
            <button>Login</button>
          </form>
        </ul>
      </nav>
      <% } %>
  </div>
</header>

<body>

<!-- TIME CLOCK -->
<div class="clock-container">
  <div class="digital-clock">00:00:00</div>
</div>

<!-- MAIN INDEX PAGE -->
<!-- <div class="index-container">
  <h3 class="index-slogan1">Start something</h3>
  <h3 class="index-slogan2">that matters</h3>
  <h4 class="index-slogan3">Stop wasting valuable time with that just isn't you.</h4>
  <h2 class="index-slogan3">Use Smartodo</h2>
</div> -->

<main>
  <% if (user_id) { %>
  <!-- INPUT TEXT -->
  <section class="input-container">
    <form id="add-task" action="/smartlist" method="POST">
      <label for="task">TASK TO ADD</label>
      <textarea name="task" id="task-text" placeholder="Start typing here..."></textarea>
      <button type="submit">ADD</button>
    </form>
  </section>

  <!-- CATEGORIES -->
  <section class="category-container">
    <div class="category-wrapper1">
      <div class="category1">
        <h2>THINGS TO WATCH</h2>
        <div class="todolist"></div>
      </div>
    </div>
    <div class="category-wrapper2">
    <div class="category2">
      <h2>PLACES TO EAT</h2>
      <div class="todolist"></div>
    </div>
    </div>
    <div class="category-wrapper3">
    <div class="category3">
      <h2>BOOKS TO READ</h2>
      <div class="todolist"></div>
    </div>
    </div>
    <div class="category-wrapper4">
    <div class="category4">
      <h2>THINGS TO BUY</h2>
      <div class="todolist"></div>
    </div>
    </div>
    <div class="category-wrapper5">
    <div class="category5">
      <h2>MISCELLANEOUS</h2>
      <div class="todolist"></div>
    </div>
    </div>
  </section>

  <% } else { %>
 <!-- USER REGISTRATION -->
<form class="register-form" action="/users/register" method="POST">
  <div class="register-container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="register-name"><b>Full Name</b></label>
    <input type="text" placeholder="Enter name" name="register_name" id="register_name" required>

    <label for="register-password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="register_password" id="register_password" required>

    <label for="register-email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="register_email" id="register_email" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="register-container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>

<!-- USER LOGIN -->
<form class="login-form" action="/users/login" method="POST">
  <div class="login-container">
    <h1>Login</h1>
    <p>Please fill in this form to log in.</p>
    <hr>

    <label for="login-email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="login_email" id="login_email" required>
    <hr>

    <label for="login-password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="login_password" id="login_password" required>


    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="loginbtn">Login</button>
  </div>

  <div class="login-container signin">
    <p>Don't have an account? <a href="#">Register</a>.</p>
  </div>
</form>
<% } %>

<!-- MODAL -->
<div class="modal"><!-- Place at bottom of page --></div>

<!-- TASK -->
<!-- <section class="todo-container">
  <div class="todoitems">
    <p class="task-name">TASK NAME</p>
    <div class="todo-options">
      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">THINGS TO WATCH</a>
            <a href="#">PLACES TO EAT</a>
            <a href="#">BOOKS TO READ</a>
            <a href="#">THINGS TO BUY</a>
            <a href="#">MISCELLANEOUS</a>
          </div>
      </div>
    <form id="delete-task" action="/smartlist/:id/delete" method="POST">
    <button type="submit">DELETE</button>
    </div>
  </div>
</section> -->

</main>
</body>

</html>
