<%- include('partials/_header') %>

  <body>

  <main>
    <!-- INPUT TEXT -->
    <section class="input-container">
      <form id="add-task" action="/smartlist" method="POST">
        <% if (user_first_name) { %>
        <label for="task" class="welcome"><span class="time-msg"></span> ,<span> <%= user_first_name %></span> ! What's up?</label>
        <% } %>
        <input name="task" id="task-text" type="text" placeholder="Start typing here..."></input>
        <button class="btn_style add_btn" type="submit">Add</button>
      </form>
    </section>

    <!-- CATEGORIES -->
    <section class="category-container">
      <div class="cat-column1">
        <div class="category-wrapper1">
          <div class="category1">
            <h2 class="cat_label">THINGS TO WATCH</h2>
            <div class="todolist"></div>
          </div>
        </div>
        <div class="category-wrapper2">
        <div class="category2">
          <h2 class="cat_label">PLACES TO EAT</h2>
          <div class="todolist"></div>
        </div>
        </div>
      </div>
      <div class="cat-column2">
        <div class="category-wrapper3">
        <div class="category3">
          <h2 class="cat_label">BOOKS TO READ</h2>
          <div class="todolist"></div>
        </div>
        </div>
        <div class="category-wrapper4">
        <div class="category4">
          <h2 class="cat_label">THINGS TO BUY</h2>
          <div class="todolist"></div>
        </div>
        </div>
      </div>
    </section>

  <!-- MODAL -->
  <div class="modal"><!-- Place at bottom of page --></div>

    </main>
  </body>

