/* TIME CLOCK */
.clock-container {
  display: flex;
  justify-content: center;
  padding: 3em 0;
}

@font-face {
  font-family: 'DIGITAL';
  src: url('https://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

.digital-clock {
  font-size: 4em;
  margin: auto;
  position: absolute;
  width: 5em;
  height: 1.2em;
  color: #ffffff;
  border: 2px solid #999;
  border-radius: 4px;
  text-align: center;
  background: linear-gradient(90deg, #000, #555);
}

