/* INPUT TEXT AREA */
  #add-task {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #task-text:focus {
    outline: none !important;
    border:3px solid darkblue;
    box-shadow: 0 0 10px #719ECE;
  }

  form label {
    display: flex;
    justify-content: center;
    color:black;
    padding-bottom: 15px;
    font-size: 3.5em;
    font-family: sans-serif;
    padding-top: 0.5em;

  }

  .input-container {
    padding-top: 2em;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .input_message {
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 2em;
    color: rgb(119, 30, 30);
    display: none;
  }

  .appear {
    display: flex;
  }

@media only screen and (max-width: 1049px) {
  .welcome {
    font-size: 2.5em;
  }
}
