body {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

section {
  margin: 1em 0;
}

/* INPUT TEXT AREA */

#add-task {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form label {
  display: flex;
  justify-content: center;
  color:purple;
}

.input-container {
  padding-top: 2em;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* NAV BAR */
*{transition:all 0.3s ease-in-out;}
.nav-container{
  clear:both;
  overflow:auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

nav{float:right;}

.logo img{
  float:left;
  width: 48px;
  height: 48px;
  display: inline-flex;
}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}

ul button {
  display: inline-block;
  padding:0.1em;
  font-size:20px;
}

ul li:hover{
  color:orange;
}

/* CATEGORIES */
.category-container{
  padding: 0 10em;
}

.category {
  display: flex;
  padding-top: 0.8em;
  justify-content: center;
  border: 0.1em inset black;
  align-items: center;
  margin-bottom: 6em;
  border-radius: 2em;
}


