html {
  height: 100%;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgb(163, 208, 219);
}

section {
  margin: 1em 0;
}

/* INPUT TEXT AREA */
#add-task {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#task-text:focus {
  outline: none !important;
  border:3px solid darkblue;
  box-shadow: 0 0 10px #719ECE;
}

form label {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: fantasy;
  color:purple;
  padding-bottom: 15px;
}

.input-container {
  padding-top: 2em;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* NAV BAR */
*{transition:all 0.3s ease-in-out;}
.nav-container{
  clear:both;
  overflow:auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

nav{float:right;}

.logo img{
  float:left;
  width: 100px;
  height: 100px;
  display: inline-flex;
}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}

ul button {
  display: inline-block;
  padding:0.1em;
  font-size:20px;
}

ul li:hover{
  color:orange;
}

.nav-options {
  display: flex;
  flex-direction: row;
  padding: 0 3em;
  align-items: baseline;
}

/* CATEGORIES */
.category-container{
  padding: 0 10em;
  height: 100%;
}

.category1, .category2, .category3, .category4, .category5 {
  display: flex;
  flex-direction: column;
  padding-top: 0.8em;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  border-radius: 2em;
  width: 100%;
}

/* TO DO TASK */
.todo-container {
  justify-content: center;
  display: flex;
}

.todoitems {
  font-size: 1.5em;
  display: flex;
  align-items: baseline;
  border: 0.1em solid black;
  justify-content: space-evenly;
  border-radius: 2em;
  width: 100%;
  margin-bottom: 0.4px;
}

.task-name {
  flex-grow: 0.8;
  width: 80%;
}

.todo-options {
  display: flex;
  align-items: baseline;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 0.8em;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 1em;
  margin-right: 1.5em;
}

.delete_btn {
  background-color: #dc3545;
  color: white;
  padding: 0.8em;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 1em;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.todolist {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

/* REGISTER FORM */
/* Add padding to containers */
.register-form {
  margin: 5em;
}

.register-container {
  width: 100%;
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* LOGIN FORM */
/* Add padding to containers */
.login-form {
  margin: 5em;
}

.login-container {
  width: 100%;
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* MAIN INDEX PAGE */
.index-container {
  margin-top: 2em;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-slogan1 {
  font-size: 5em;
  padding-left: 1em;
}

.index-slogan2 {
  font-size: 5em;
  padding-left: 1em;
}

.index-slogan3 {
  padding-left: 10em;
}

/* MODAL */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('http://i.stack.imgur.com/FhHRx.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
 the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .modal {
  display: block;
}

/* TIME CLOCK */
.clock-container {
  display: flex;
  justify-content: center;
  padding: 3em 0;
}

@font-face {
  font-family: 'DIGITAL';
  src: url('https://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

.digital-clock {
  font-size: 3em;
  margin: auto;
  position: absolute;
  width: 5em;
  height: 1.2em;
  color: #ffffff;
  border: 2px solid #999;
  border-radius: 4px;
  text-align: center;
  background: linear-gradient(90deg, #000, #555);
}



