/* NAV BAR */
*{transition:all 0.3s ease-out;}
.nav-container{
  clear:both;
  overflow:auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

nav{float:right;}

.logo img{
  float:left;
  width: 100px;
  height: 100px;
  display: inline-flex;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}

ul button {
  display: inline-block;
  padding:0.1em;
  font-size:20px;
}

ul li:hover{
  color:orange;
}

.nav-options {
  display: flex;
  flex-direction: row;
  padding: 0 3em;
  align-items: baseline;
}

.login-options {
  display: flex;
}
